CREATE DATABASE [ConferenceData]
GO
USE [ConferenceData]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 18.10.2024 14:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[Id_act] [int] IDENTITY(1,1) NOT NULL,
	[IdEvent_act] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Days] [int] NOT NULL,
	[ActivName] [nvarchar](50) NOT NULL,
	[Day] [int] NOT NULL,
	[Time] [time](7) NOT NULL,
	[IdModer] [int] NOT NULL,
	[Jury_1] [int] NOT NULL,
	[Jury_2] [int] NULL,
	[Jury_3] [int] NULL,
	[Jury_4] [int] NULL,
	[Jury_5] [int] NULL,
	[Winner] [int] NOT NULL,
 CONSTRAINT [PK_Activity] PRIMARY KEY CLUSTERED 
(
	[Id_act] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 18.10.2024 14:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id_city] [int] IDENTITY(1,1) NOT NULL,
	[Name_city] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id_city] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 18.10.2024 14:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id_c] [int] IDENTITY(1,1) NOT NULL,
	[Name_country] [nvarchar](80) NOT NULL,
	[Eng_name] [nvarchar](80) NOT NULL,
	[Code_1] [nvarchar](5) NOT NULL,
	[Code_2] [int] NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id_c] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direction]    Script Date: 18.10.2024 14:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direction](
	[Id_dir] [int] IDENTITY(1,1) NOT NULL,
	[Direction] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Direction] PRIMARY KEY CLUSTERED 
(
	[Id_dir] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 18.10.2024 14:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[Id_e] [int] IDENTITY(1,1) NOT NULL,
	[Event] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[Id_e] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event_act]    Script Date: 18.10.2024 14:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event_act](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Event_act] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 18.10.2024 14:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id_ev] [int] IDENTITY(1,1) NOT NULL,
	[Name_events] [nvarchar](100) NOT NULL,
	[Date] [date] NOT NULL,
	[Days] [int] NOT NULL,
	[ImageName] [varchar](50) NULL,
	[Image] [image] NULL,
	[IdCity] [int] NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[Id_ev] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 18.10.2024 14:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Id_gen] [int] IDENTITY(1,1) NOT NULL,
	[Gender] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_Cender] PRIMARY KEY CLUSTERED 
(
	[Id_gen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[General]    Script Date: 18.10.2024 14:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[General](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](80) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[CountryId] [int] NULL,
	[IdDirection] [int] NULL,
	[IdEvent] [int] NULL,
	[Phone] [varchar](20) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[GenderId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_General] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 18.10.2024 14:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activity] ON 

INSERT [dbo].[Activity] ([Id_act], [IdEvent_act], [Date], [Days], [ActivName], [Day], [Time], [IdModer], [Jury_1], [Jury_2], [Jury_3], [Jury_4], [Jury_5], [Winner]) VALUES (1, 1, CAST(N'2022-03-23' AS Date), 2, N'Сильный бизнес-тренер', 1, CAST(N'09:00:00' AS Time), 54, 11, 52, 10, 41, 11, 7)
INSERT [dbo].[Activity] ([Id_act], [IdEvent_act], [Date], [Days], [ActivName], [Day], [Time], [IdModer], [Jury_1], [Jury_2], [Jury_3], [Jury_4], [Jury_5], [Winner]) VALUES (2, 1, CAST(N'2022-03-23' AS Date), 2, N'Анализ и моделироавние бизнес-процессов', 2, CAST(N'10:45:00' AS Time), 42, 37, 41, 26, 34, 37, 7)
INSERT [dbo].[Activity] ([Id_act], [IdEvent_act], [Date], [Days], [ActivName], [Day], [Time], [IdModer], [Jury_1], [Jury_2], [Jury_3], [Jury_4], [Jury_5], [Winner]) VALUES (3, 1, CAST(N'2022-03-23' AS Date), 2, N'Сила лидера', 2, CAST(N'12:30:00' AS Time), 1, 28, 34, 45, 10, 28, 7)
SET IDENTITY_INSERT [dbo].[Activity] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id_city], [Name_city]) VALUES (1, N'Абаза')
INSERT [dbo].[City] ([Id_city], [Name_city]) VALUES (2, N'Абакан')
INSERT [dbo].[City] ([Id_city], [Name_city]) VALUES (3, N'Абдулино')
GO
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([Id_c], [Name_country], [Eng_name], [Code_1], [Code_2]) VALUES (1, N'Афганистан', N'Afghanistan', N'AF', 4)
INSERT [dbo].[Country] ([Id_c], [Name_country], [Eng_name], [Code_1], [Code_2]) VALUES (2, N'Албания', N'Albania', N'AL', 8)
INSERT [dbo].[Country] ([Id_c], [Name_country], [Eng_name], [Code_1], [Code_2]) VALUES (3, N'Антарктида', N'Antarctica', N'AQ', 10)
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[Direction] ON 

INSERT [dbo].[Direction] ([Id_dir], [Direction]) VALUES (1, N'Аналитика')
INSERT [dbo].[Direction] ([Id_dir], [Direction]) VALUES (2, N'Биг Дата')
INSERT [dbo].[Direction] ([Id_dir], [Direction]) VALUES (3, N'Дизайн')
SET IDENTITY_INSERT [dbo].[Direction] OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([Id_e], [Event]) VALUES (1, N'IT в бизнесе')
INSERT [dbo].[Event] ([Id_e], [Event]) VALUES (2, N'IT-инфраструктура')
INSERT [dbo].[Event] ([Id_e], [Event]) VALUES (3, N'Информационная безопасность')
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[Event_act] ON 

INSERT [dbo].[Event_act] ([Id], [EventName]) VALUES (1, N'Анализ предметных областей и проектирование сценариев использования ')
INSERT [dbo].[Event_act] ([Id], [EventName]) VALUES (2, N'Анализ предметных областей и проектирование сценариев использования. Часть 1 ')
INSERT [dbo].[Event_act] ([Id], [EventName]) VALUES (3, N'Беговая эстафета «IT Run #3» ')
SET IDENTITY_INSERT [dbo].[Event_act] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([Id_ev], [Name_events], [Date], [Days], [ImageName], [Image], [IdCity]) VALUES (1, N'Анализ предметных областей и проектирование сценариев использования ', CAST(N'2022-03-23' AS Date), 2, N'1', NULL, 1)
INSERT [dbo].[Events] ([Id_ev], [Name_events], [Date], [Days], [ImageName], [Image], [IdCity]) VALUES (2, N'Анализ предметных областей и проектирование сценариев использования. Часть 1 ', CAST(N'2022-03-30' AS Date), 2, N'2', NULL, 3)
INSERT [dbo].[Events] ([Id_ev], [Name_events], [Date], [Days], [ImageName], [Image], [IdCity]) VALUES (3, N'Андрей Ершов — CRDT. Бесконфликтная синхронизация данных ', CAST(N'2022-02-28' AS Date), 3, N'3', NULL, 4)
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([Id_gen], [Gender]) VALUES (1, N'ж')
INSERT [dbo].[Gender] ([Id_gen], [Gender]) VALUES (2, N'м')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[General] ON 

INSERT [dbo].[General] ([Id], [FIO], [Email], [DateOfBirth], [CountryId], [IdDirection], [IdEvent], [Phone], [Password], [GenderId], [RoleId]) VALUES (1, N'Абрамов Александр Алексеевич', N'afe028rbd3jl@outlook.com', CAST(N'1977-02-18' AS Date), 8, 2, 4, N'+7(815)360-04-17', N'Eh23iV8Ls3', 2, 2)
INSERT [dbo].[General] ([Id], [FIO], [Email], [DateOfBirth], [CountryId], [IdDirection], [IdEvent], [Phone], [Password], [GenderId], [RoleId]) VALUES (2, N'Абрамова Алиса Леонидовна', N'nocyvpk7fwm4@mail.com', CAST(N'1987-10-20' AS Date), NULL, 4, 3, N'+7(398)127-62-39', N'b48AE5U4pv', 1, 2)
INSERT [dbo].[General] ([Id], [FIO], [Email], [DateOfBirth], [CountryId], [IdDirection], [IdEvent], [Phone], [Password], [GenderId], [RoleId]) VALUES (3, N'Антонов Леонид Степанович', N'guhxk5rd3287@mail.com', CAST(N'1968-06-24' AS Date), NULL, 1, 5, N'+7(289)679-81-04', N'SX72yf8Yb4', 2, 2)
SET IDENTITY_INSERT [dbo].[General] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (1, N'Жюри')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (2, N'Модераторы')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (3, N'Организаторы')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Event_act] FOREIGN KEY([IdEvent_act])
REFERENCES [dbo].[Event_act] ([Id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_Event_act]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_General] FOREIGN KEY([IdModer])
REFERENCES [dbo].[General] ([Id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_General]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_General1] FOREIGN KEY([Jury_1])
REFERENCES [dbo].[General] ([Id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_General1]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_General2] FOREIGN KEY([Jury_2])
REFERENCES [dbo].[General] ([Id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_General2]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_General3] FOREIGN KEY([Jury_3])
REFERENCES [dbo].[General] ([Id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_General3]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_General4] FOREIGN KEY([Jury_4])
REFERENCES [dbo].[General] ([Id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_General4]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_General5] FOREIGN KEY([Jury_5])
REFERENCES [dbo].[General] ([Id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_General5]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_General6] FOREIGN KEY([Winner])
REFERENCES [dbo].[General] ([Id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_General6]
GO
ALTER TABLE [dbo].[Event_act]  WITH CHECK ADD  CONSTRAINT [\] FOREIGN KEY([Id])
REFERENCES [dbo].[Events] ([Id_ev])
GO
ALTER TABLE [dbo].[Event_act] CHECK CONSTRAINT [\]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_City] FOREIGN KEY([IdCity])
REFERENCES [dbo].[City] ([Id_city])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_City]
GO
ALTER TABLE [dbo].[General]  WITH CHECK ADD  CONSTRAINT [FK_General_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id_c])
GO
ALTER TABLE [dbo].[General] CHECK CONSTRAINT [FK_General_Country]
GO
ALTER TABLE [dbo].[General]  WITH CHECK ADD  CONSTRAINT [FK_General_Direction] FOREIGN KEY([IdDirection])
REFERENCES [dbo].[Direction] ([Id_dir])
GO
ALTER TABLE [dbo].[General] CHECK CONSTRAINT [FK_General_Direction]
GO
ALTER TABLE [dbo].[General]  WITH CHECK ADD  CONSTRAINT [FK_General_Event] FOREIGN KEY([IdEvent])
REFERENCES [dbo].[Event] ([Id_e])
GO
ALTER TABLE [dbo].[General] CHECK CONSTRAINT [FK_General_Event]
GO
ALTER TABLE [dbo].[General]  WITH CHECK ADD  CONSTRAINT [FK_General_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id_gen])
GO
ALTER TABLE [dbo].[General] CHECK CONSTRAINT [FK_General_Gender]
GO
ALTER TABLE [dbo].[General]  WITH CHECK ADD  CONSTRAINT [FK_General_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[General] CHECK CONSTRAINT [FK_General_Roles]
GO
